#  A) Sets in Python

## 1.Creating Sets

In [97]:
# Create a set with some elements 
myset={1,2,"Java","C++"}

In [98]:
myset

{1, 2, 'C++', 'Java'}

In [99]:
## Creating a set from a list
mylist=[1,2,"Python",'R' ,2]

In [100]:
myset2=set(mylist)

In [101]:
myset2

{1, 2, 'Python', 'R'}

In [102]:
#Creating an empty set 
myset3=set()

In [103]:
myset3

set()

In [104]:
# This will create a distionary 
myset4={}

In [105]:
type(myset4)

dict

## 2.  Accessing Set Elements

In [106]:
# You cannot use index like you do in list
mylist[0]

1

In [107]:
# Elements of a set are unordered , We cannot use [] index to access them. Instead use a for loop.
myset[]

SyntaxError: invalid syntax (<ipython-input-107-b6490d5520f8>, line 2)

In [108]:
# You need to iterate with the help of a loop
for element in myset:
    print(element)

1
2
Java
C++

## 3. Checking whether an alement is in set

In [109]:
if 'C++' in myset:
    print(" C++ is present in the set")

 C++ is present in the set

In [110]:
# Make a function uisng if-else stament check membeship
def check_presence(element):
    if element in myset:
        print(str(element) + " is present in set")
    else:
        print (str(element) + " is not present in the set")

In [111]:
check_presence(2)

2 is present in set

In [112]:
check_presence(20)

20 is not present in the set

## 4. Adding elememts to as set

In [113]:
# add() can be used to add a single element
myset

{1, 2, 'C++', 'Java'}

In [114]:
myset.add(0)

In [115]:
myset

{0, 1, 2, 'C++', 'Java'}

In [116]:
myset.add("C")

In [117]:
myset

{0, 1, 2, 'C', 'C++', 'Java'}

In [118]:
# update() can be used to add multiple elements
myset.update([10,20,30,'Python'])

In [119]:
myset

{0, 1, 10, 2, 20, 30, 'C', 'C++', 'Java', 'Python'}

## 5. Removing Elements from a Set

In [120]:
# remove() can be used to remove a specified element
myset.remove(10)

In [121]:
myset

{0, 1, 2, 20, 30, 'C', 'C++', 'Java', 'Python'}

In [122]:
# pop() can be used to remove any random element
del_element=myset.pop()

In [123]:
del_element

0

In [124]:
myset

{1, 2, 20, 30, 'C', 'C++', 'Java', 'Python'}

In [125]:
del_element=myset.pop()

In [126]:
del_element

1

In [127]:
myset

{2, 20, 30, 'C', 'C++', 'Java', 'Python'}

In [128]:
del_element=myset.pop()

In [129]:
del_element

2

In [130]:
myset

{20, 30, 'C', 'C++', 'Java', 'Python'}

In [131]:
del_element=myset.pop()

In [132]:
del_element

'C++'

In [133]:
# clear can be used to clear all the elements from the list
myset.clear()

In [134]:
myset

set()

In [135]:
# del()can be used to delete the set altogether 
del myset

In [136]:
myset

NameError: name 'myset' is not defined

## 6. Set Operations

In [140]:
set1={10,20,30,40,50}
set2={5,10,15,20,25,30}

In [141]:
# | acts as a union operator .You can use union() method as well
set3=set1|set2

In [142]:
set3

{5, 10, 15, 20, 25, 30, 40, 50}

In [145]:
# & acts as a intersection operator . You can use intersection() method as well
set4=set1&set2

In [146]:
set4

{10, 20, 30}

In [150]:
# - operator can be used as a diffrence operator . You can use difference() method as well

In [151]:
set2.difference(set1)

{5, 15, 25}

In [152]:
# ^ operator is used as a symetric difference. You can also used symmeric_diffrerence()method

In [153]:
set2^set1
# set1.symmetric_difference()

{5, 15, 25, 40, 50}

# B) Dictionaries in Python

## 1. Creating Dictionaries

In [197]:
# create a dictionary using {}
person = {"name": "Jessa", "country": "USA", "telephone": 1178}
print(person)
# output {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

In [ ]:
# create a dictionary from sequence having each item as a pair
person = dict([("name", "Mark"), ("country", "USA"), ("telephone", 1178)])
print(person)

In [ ]:
# create dictionary with value as a list
person = {"name": "Jessa", "telephones": [1178, 2563, 4569]}
print(person)
# output {'name': 'Jessa', 'telephones': [1178, 2563, 4569]}

In [179]:
# Creating an empty dictionary
mydict={}
print(mydict)

{}

## 2. Accessing Dictionary Elements

In [182]:
person

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

In [181]:
# access value using key  in []
print(person['name'])

Jessa

In [183]:
#  get key value using key name in get()
print(person.get('telephone'))

1178

In [193]:
# Get all keys
print(person.keys())

dict_keys(['name', 'country', 'telephone'])

In [194]:
# Get all values
print(person.values())

dict_values(['Jessa', 'USA', 1178])

In [195]:
# Get all key-value pair
print(person.items())

dict_items([('name', 'Jessa'), ('country', 'USA'), ('telephone', 1178)])

## 3. Accessing Dictionary Elements

In [198]:
# Iterating the dictionary using for-loop
print('key', ':', 'value')
for key in person:
    print(key, ':', person[key])

key : value
name : Jessa
country : USA
telephone : 1178

In [199]:
# using items() method
print('key', ':', 'value')
for key_value in person.items():
    # first is key, and second is value
    print(key_value[0], key_value[1])

key : value
name Jessa
country USA
telephone 1178

## 4. Adding Elements

In [200]:
person = {"name": "Jessa", 'country': "USA", "telephone": 1178}

# update dictionary by adding 2 new keys
person["weight"] = 50
person.update({"height": 6})

print(person)

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}

## 5. Updating Elements

In [201]:
person

{'name': 'Jessa',
 'country': 'USA',
 'telephone': 1178,
 'weight': 50,
 'height': 6}

In [203]:
# updating the country name
person["country"] = "Canada"
print(person)

{'name': 'Jessa', 'country': 'Canada', 'telephone': 1178, 'weight': 50, 'height': 6}

In [204]:
# updating the country name using update() method
person.update({"country": "UK"})
print(person)

{'name': 'Jessa', 'country': 'UK', 'telephone': 1178, 'weight': 50, 'height': 6}

## 6. Removing Elements

In [205]:
# Remove last inserted item from the dictionary
deleted_item = person.popitem()
print(deleted_item)  
print(person)

('height', 6)
{'name': 'Jessa', 'country': 'UK', 'telephone': 1178, 'weight': 50}

In [206]:
# Remove key 'telephone' from the dictionary
deleted_item = person.pop('telephone')
print(deleted_item)  
print(person)

1178
{'name': 'Jessa', 'country': 'UK', 'weight': 50}

In [207]:
# delete key 'weight'
del person['weight']
print(person)

{'name': 'Jessa', 'country': 'UK'}

In [208]:
# remove all item (key-values) from dict
person.clear()
print(person)

{}

In [209]:
# Delete the entire dictionary
del person

In [210]:
person

NameError: name 'person' is not defined

## Nested Dictionaries

In [234]:
# address dictionary to store person address
address = {"state": "Texas", 'city': 'Houston'}

# dictionary to store person details with address as a nested dictionary
person = {'name': 'Jessa', 'company': 'Google', 'address': address}

# Display dictionary
print("person:", person)

person: {'name': 'Jessa', 'company': 'Google', 'address': {'state': 'Texas', 'city': 'Houston'}}

In [235]:
# Get nested dictionary key 'city'
print("City:", person['address']['city'])

City: Houston

In [238]:
# Iterating outer dictionary
print("Person details")
for key, value in person.items():
    if key == 'address':
        # Iterating through nested dictionary
        print("Person Address")
        for nested_key, nested_value in value.items():
            print(nested_key, ':', nested_value)
    else:
        print(key, ':', value)

Person details
name : Jessa
company : Google
Person Address
state : Texas
city : Houston

## Sorting

In [242]:
dict1 = {'c': 45, 'b': 95, 'a': 35}
dict1

{'c': 45, 'b': 95, 'a': 35}

In [243]:
# sorting dictionary by keys
print(sorted(dict1.items()))

[('a', 35), ('b', 95), ('c', 45)]

In [ ]:
# Output [('a', 35), ('b', 95), ('c', 45)]

# sort dict eys
print(sorted(dict1))
# output ['a', 'b', 'c']

# sort dictionary values
print(sorted(dict1.values()))
# output [35, 45, 95]

In [244]:
# sort dict eys
print(sorted(dict1))

['a', 'b', 'c']

### END